:root {
  font-family: 'Helvetica Neue', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.4;
  font-weight: 500;
  color: #111111;
  background-color: #f8f3ea;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
